#banner-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/gratisography-101H-free-stock-photo.jpg);
    background-size: cover;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.separator {
    height: 1px;
    background-color: #333;
    border: none;
    margin: 20px 0;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #f8f9fa;
    color: #0d6efd;
}

.accordion-button:not(.collapsed)::after {
    content: "\2212";
}